@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500;1,700;1,800&display=swap');
.nav{
    font-family: "Nunito";
}
nav{
    padding: 10px;
    font-family: "Nunito";
}
.table{
    width: 1500px;
    font-family: 'Nunito';
    
}
